#wrapper {
	font-family: Verdana, sans-serif;
}

#header {
	display: flex;
	border: 5px solid red;
	border-radius: 10px;
	text-align: center;
	background-color: green;
	color: white;
	margin-bottom: 2%;
}

#header h2 {
	margin-left: 0;
	margin-right: 0;
}

#santa1 {
	max-height: 80px;
	margin: auto 10px auto 20px;
	padding: 0;
}

#santa2 {
	max-height: 80px;
	margin: auto 20px auto 10px;
	padding: 0;
}

#flexcontainer {
	display: flex;
}

#pickAndGo {
	width: 30%;
	height: 360px;
	padding: 20px;
	margin: 0 2% 0 0;
	border: 5px solid red;
	border-radius: 10px;
	background-color: green;
	color: white;

}

#textInOut {
	width: 60%;
	height: 360px;
	padding: 20px;
	margin: 0 0 0 2%;
	border: 5px solid red;
	border-radius: 10px;
	background-color: green;
	color: white;
}

#enterThePhrase {
	/*border: 1px solid black;*/
}

#inputPhrase {
	border: 2px solid black;
	border-radius: 5px;
}

#translatorOutput {
	font-size: 2em;
}

#translateBttn {
	margin-left: 10px;
	width: 100px;
	height: 30px;
	border: 2px solid black;
	border-radius: 5px;
}